# Default ignored files
/shelf/
/workspace.xml
/env/
/uploaded_files/
# Datasource local storage ignored files
/../../../../../../:\Users\Mo\OneDrive - Hochschule für Technik und Wirtschaft Berlin\data\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
